html(lang='es')
	include _head.pug

	body
		include _header.pug

		.content
			if devices.length === 0
				h2 No se han encontrado dispositivos
				p Conecte su dispositivo en un puerto USB y recargue la p치gina
			else if devices.length === 1
				h2 Se ha encontrado 1 dispositivo
				p Selecci칩nelo en la cabecera para monitorearlo. Si este no es el dispositivo que busca, revise la conexi칩n y recargue la p치gina
			else
				h2 Se han encontrado #{devices.length} dispositivos
				p Seleccione al que desea monitorear desde la cabecera.