html(lang='es')
	include _head.pug

	head
		script(src='/socket.io/socket.io.js' type='text/javascript')
		script(src='/Chart.js' type='text/javascript')
		script(src='/script.js' type='text/javascript')
		script(src='/d3/dist/d3.min.js' type='text/javascript')

	body
		include _header.pug

		div#chart-container